<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's the weather like?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's the weather like?
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-content">

                                <form action="{% url 'forecast' %}" method="get">
                                    {% csrf_token %}
                                    <div class="field has-addons">
                                        <div class="control is-expanded">
                                            <input class="input" type="text" placeholder="Current location" name="location">
                                        </div>
                                        <br>
                                    </div>
                                    <div class="field has-addons">
                                        <div class="control is-expanded">
                                            <input class="input" type="text" placeholder="Destination" name="destination">
                                        </div>
                                        <br>
                                    </div>
                                    <div class="field has-addons">
                                        <div class="control is-expanded">
                                            <input class="input" type="date" placeholder="Date of travel" name="date_of_travel">
                                        </div>
                                        <br>
                                    </div>
                                    <div class="field has-addons">
                                        <div class="control">
                                            <button class="button is-info" type="submit">
                                                Enter
                                            </button>
                                        </div>
                                    </div>  
                                </form> 
                            </div> 
                        </article>


                        <div class="box">
                            <article class="media">
                                <div class="media-content">
                                    {% if  location_temperature_at_2PM %}
                                    <p>Location temperature is: {{location_temperature_at_2PM}}</p>
                                    {% endif %}
                                    <p>Destination temperature is: {{destination_temperature_at_2PM}}</p>
                                    <p></p>
                                </div> 
                    </div>
                </div>
            </div>
        </div>
    </section> 


</body>
</html>