<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's the weather like?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's the weather like?
                </h1>
            </div>
        </div>
    </section>
    <div class="columns">
        <div class="column is-offset-4 is-4">
            <div class="box">
                <h2>List of 10 coolest districts over the next 7 days - </h2>
                <section class="section">
                    <div class="container">
                        <div class="columns">
                            <article class="media"> 
                                <div class="media-content">
                                    <ol type="i">
                                        {% for district_name, district_temp in top_10_coolest_districts %}
                                        
                                            <li> {{district_name}}: {{district_temp}}°C </li>
                                        
                                        {% endfor %}
                                    </ol>
                                </div>
                            </article>
                        </div>
                    </div>
                </section>
                <h2>Travel to {{coolest_district}} to enjoy the cool weather</h2>
            </div>
        </div>
    </div>

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-content">

                                <form action="{% url 'forecast'%}" method="post">
                                    {% csrf_token %}
                                    <div class="field has-addons">
                                        <div class="control is-expanded">
                                            <input class="input" type="text" placeholder="Currentlocation" name="location">
                                        </div>
                                        <br>
                                    </div>
                                    <div class="field has-addons">
                                        <div class="control is-expanded">
                                            <input class="input" type="text" placeholder="Destination" name="destination">
                                        </div>
                                        <br>
                                    </div>
                                    <div class="field has-addons">
                                        <div class="control is-expanded">
                                            <input class="input" type="text" placeholder="Date of travel" name="date_of_travel">
                                        </div>
                                        <br>
                                    </div>
                                    <div class="field has-addons">
                                        <div class="control">
                                            <button class="button is-info" type="submit">
                                                Enter
                                            </button>
                                        </div>
                                    </div>  
                                </form>

                                <p>{{location_temperature_at_2PM}}</p>

                                {% if location_temperature_at_2PM %}
                                <div class="content">
                                    <p>
                                        <p>Location temp at 2PM: {{location_temperature_at_2PM}}</p>
                                        <span class="title">Dhaka</span>
                                        <br>
<!-- 
                                    
                                        <span class="subtitle">29° F</span> 
                                        <p>{{ data.timezone }}</p> 
                                        <p>{{length}}</p>
                                        <p>{{temperature_for_7_days}}</p>
                                        <p>{{data.hourly_temp}}</p>
                                        <span class="subtitle">29° F</span> -->

                                    </p>
                                </div> 
                                {% endif %} 
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section> 


    <footer class="footer">
    </footer>
</body>
</html>



                <!-- <div class="column is-offset-4 is-4"> -->
                    <!-- <p>Top 10 coolest districts rn: {{top_10_coolest_districts}}</p>
                    <br><br>
                    <p>Name of the coolest_districts: {{name_of_coolest_districts}}</p> -->
<!--        
                    